#mostrarFormulario {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #ff7f45;
  color: #fffffd;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  cursor: pointer;
  transition: transform 0.2s ease;
}

#mostrarFormulario:hover {
  transform: scale(1.1);
}

.imagenParaSubir {
    cursor: pointer;
    max-width: 150px;
    transition: transform 0.2s ease;
}

.imagenParaSubir:hover {
    transform: scale(1.01);
}

#inputPortada, #inputImagenes {
    display: none;
}
#btnSiguiente,#btnCrear {
    padding: 5px 20px;
    background-color: #ff7f45;
    border: 1px solid #ff7f45;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}
#btnSiguiente:hover,#btnCrear:hover{
  background-color: #fffffd;
  color: #ff7f45;
  border: 1px solid #ff7f45;
}

.formParteUno, .formParteDos{
  display: none;
}