.btn-blanco-negro {
  background-color: #fffffd;
  color: #999999;
  border: 1px solid #999999;
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
  transition: all 0.2s ease-in-out;
}

.btn-check:not(:checked) + .btn-blanco-negro:hover{
    color: #424242 !important;
  border: 1px solid #424242 !important;
}
.btn-check:checked + .btn-blanco-negro {
  background-color: #424242;
  color: #fffffd;
  border: 1px solid #424242;
}

.busqueda-wrapper {
  width: 100%;
}

.buscador {
  border-radius: 10px;
  padding-right: 140px; 
}
  
.follow-btn{
  background:#ff7f45;border:none
}

.follow-btn:hover{
  box-shadow: inset 0 0 0 2px #ff7f45;
  color: #ff7f45 !important;
  font-weight: 400;
}